{{#each this}}
  <li
     class='card'
     data-id='{{id}}'
     data-aos="fade-up"
     data-aos-duration="1000"
  >
    <a class='card__item' href='#' data-id='{{id}}'>
      {{! <img class="card__img" src="#" alt="#" loading="lazy" /> }}
      <img
        class='card__img'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}} {{name}}'
        width='100%'
        data-id='{{id}}'
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
        loading='lazy'
      />
      <span class='card__vote_average' data-id='{{id}}'>{{vote_average}}</span>
    </a>
    <h2 class='card__name' data-id='{{id}}'>{{title}} {{name}}</h2>
    <div class='card__info' data-id='{{id}}'>
      <span class='card__genre' data-id='{{id}}'>{{#each genres}} {{name}} {{/each}}</span> | <span class='card__year' data-id='{{id}}'>{{release_date}}</span>
    </div>
  </li>
{{/each}}